@import "../../App.scss";

.about_conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  margin: auto;
  width: 100vw;
  margin-top: 4em;
  padding-block: 2em;
  background-color: $color1_5;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.17);

  h2 {
    padding-top: 1.5em;
  }
  .about_main {
    width: 90vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .about_content {
      margin-bottom: 3em;
      display: flex;
      flex-direction: column;

      .about_texts {
        visibility: hidden;
        p {
          font-size: 1.3em;
          margin-bottom: 2em;
        }

        a {
          text-decoration: none;
          border: 2px solid white;
          border-radius: 10px;
          color: white;
          padding: 0.5em 2em;
          font-size: 1.5em;
          cursor: pointer;
          background-color: $color5;
          transition: all 0.5s;
          box-shadow: 5px 5px 1px 2px black;

          span {
            margin-left: 5px;
            font-size: 0.8em;
          }

          &:hover {
            background-color: $color3;

            box-shadow: 0px 0px 0px 0px black;
          }
        }
      }
      .about_img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .img_contour {
          z-index: 0;
          border-radius: 10px;
          transform: translate(-20px, -20px);
          position: absolute;
          width: 280px;
          height: 300px;
          border: 3px solid $color5;
          visibility: hidden;
        }

        img {
          border-radius: 10px;
          width: 280px;
          z-index: 97;
          visibility: hidden;
        }
      }
    }
  }
}

@media (min-width: 850px) {
  .about_conatiner {
    h2 {
      margin-block: 1em 0;
    }
    .about_main {
      .about_content {
        flex-direction: row;
        .about_texts {
          width: 50%;
        }
        .about_img {
          width: 50%;

          img {
            width: 320px;
          }

          .img_contour {
            width: 320px;
            height: 340px;
          }
        }
      }
    }
  }
}
