@import "../../App.scss";

.wave_footer {
  width: 100vw;
  background: url("../../../public/wave.svg") no-repeat;
  background-size: 100vw 200px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232327;
  width: 100vw;
  height: 10vh;
  padding-block: 4em;

  p {
    margin: 0;
  }

  h2 {
    letter-spacing: -7px;
    font-size: 3em;
    margin: 0;
    span {
      color: $color5;
    }
  }
}
