$color1: #2b2c30;
$color2: #35313b;
$color3: #453745;
$color4: #613c4c;
$color5: #ff1457;

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90vw;
  max-width: 900px;
  gap: 10em;
}
